/**
 * Main styles
 */
.template { 
    display: none;
}

#ctrl_index_act_index .listing {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
}
#ctrl_index_act_index .listing ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 2em;
}
#ctrl_index_act_index .listing ul.nav li {
    margin: 0 0.25em 0 0.25em;
    border: 1px solid #ccc;
    float: left;
}
#ctrl_index_act_index .listing ul.nav li span.selected {
    display: block;
    padding: 0.125em 0.75em;
}
#ctrl_index_act_index .listing ul.nav li a {
    display: block;
    padding: 0.125em 0.75em;
    background-color: #ddd;
}
#ctrl_index_act_index .listing .installed_plugins {
    margin: 0.5em 0em;
}
#ctrl_index_act_index .listing .installed_plugins thead th {
    text-align: left;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
#ctrl_index_act_index .listing .installed_plugins tbody td {
    text-align: left;
    padding: 0.25em 0.5em 0.25em 0.5em;
}


