{% extends "layout.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}
    Change password
    {% if forgot_password_login_name %}
        for {{forgot_password_login_name}}</p>
    {% elseif is_logged_in %}
        for {{profile.screen_name|e}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if password_changed %}
        <p>Password changed.
            <a href="{{base_url}}login">Login?</a></p></p>
    {% elseif invalid_reset_token %}
        <p>Invalid password reset attempt. 
        <a href="{{base_url}}forgotpassword">Try again?</a></p>
    {% else %}
        {% if forgot_password_login_name %}
            <p>Recovering password for {{forgot_password_login_name}}</p>
        {% endif %}
        <form class="login" action="" method="post">
            {% set data, errors as form_data, form_errors %}
            {{ forms.hidden(data, errors, 'password_reset_token') }}
            {{ forms.fieldset('Change password', 'change_password') }}
            {% if not forgot_password_login_name and not authprofile.is_allowed(login, 'changepassword_any') %}
                {{ forms.input(data, errors, 'password', 'old_password', 'Old Password') }}
            {% endif %}
                {{ forms.input(data, errors, 'password', 'new_password', 'New Password') }}
                {{ forms.input(data, errors, 'password', 'new_password_confirm', 'New Password (confirm)') }}
                {{ forms.submit('change', '', 'Change password') }}
            {{ forms.endfieldset() }}
        </form>
    {% endif %}
{% endblock %}
