{% extends "layout.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}
    Change password for {{authprofile.screen_name|e}}
{% endblock %}

{% block content %}
    {% if email_verification_token_set %}
        <p>Check your inbox for a link to verify this new email address.</p>
    {% else %}
        <form class="changeemail" action="" method="post">
            {% set data, errors as form_data, form_errors %}
            {{ forms.fieldset('Login details', 'login') }}
                {{ forms.input(data, errors, 'text', 'new_email', 'New email') }}
                {{ forms.submit('change', '', 'Change email') }}
            {{ forms.endfieldset() }}
        </form>
    {% endif %}
{% endblock %}
