{% extends "layout.html" %}

{% block title %}
    {% if forgot_password_login_name %}
        {% blocktrans %}Change password for {{forgot_password_login_name}}{% endblocktrans %}
    {% elseif is_logged_in %}
        {% set profile_screen_name_e = profile.screen_name|e %}
        {% blocktrans %}Change password for {{profile_screen_name_e}}{% endblocktrans %}
    {% endif %}
{% endblock %}

{% block content %}
    {% import "macros/forms.html" as forms %}
    {% if password_changed %}
        <p>{% trans "Password changed." %}
            <a href="{{base_url}}login">{% trans "Login?" %}</a></p></p>
    {% elseif invalid_reset_token %}
        <p>{% trans "Invalid password reset attempt." %} 
            <a href="{{base_url}}forgotpassword">{% trans "Try again?" %}</a></p>
    {% else %}
        {% if forgot_password_login_name %}
            <p>{% blocktrans %}Recovering password for {{forgot_password_login_name}}{% endblocktrans %}</p>
        {% endif %}
        <form class="login" action="" method="post">
            {% set data, errors = form_data, form_errors %}
            {{ forms.hidden(data, errors, 'crumb', crumb) }}
            {{ forms.hidden(data, errors, 'password_reset_token') }}
            {{ forms.fieldset('Change password'|trans, 'change_password') }}
            {% if not forgot_password_login_name and not authprofile.is_allowed(login, 'changepassword_any') %}
                {{ forms.input(data, errors, 'password', 'old_password', 'Old Password'|trans) }}
            {% endif %}
                {{ forms.input(data, errors, 'password', 'new_password', 'New Password'|trans) }}
                {{ forms.input(data, errors, 'password', 'new_password_confirm', 'New Password (confirm)'|trans) }}
                {{ forms.submit('change', '', 'Change password'|trans) }}
            {{ forms.endfieldset() }}
        </form>
    {% endif %}
{% endblock %}
