{% extends "layout.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}
    {% set profile_screen_name_e as profile.screen_name|e %}
    {% blocktrans %}Edit details for {{profile_screen_name_e}}{% endblocktrans %}
{% endblock %}

{% block content %}
    <form class="register" action="" method="post">
        {% set data, errors as form_data, form_errors %}
        {{ forms.hidden(data, errors, 'crumb', crumb) }}
        {{ forms.fieldset('Profile details', 'profile') }}
            {# {{ forms.input(data, errors, 'text', 'screen_name', 'Screen name') }} #}
            {{ forms.input(data, errors, 'text', 'full_name', 'Full name'|trans) }}
            {{ forms.textarea(data, errors, 'bio', 'Bio / About you'|trans) }}
            {% if authprofile.is_allowed(profile, 'edit_role') %}
                {{ forms.dropdown(data, errors, 'role', 'Role'|trans, role_choices) }}
            {% endif %}
            {{ forms.submit('update', '', 'Update'|trans) }}
        {{ forms.endfieldset() }}
    </form>
{% endblock %}
