{% extends "layout.html" %}

{% block title %}
    {% trans "Register" %}
{% endblock %}

{% block content %}
    {% import "macros/forms.html" as forms %}
    {% if password_reset_token_set %}
        <p>{% trans "Check your inbox for a link to change your password." %}</p>
    {% else %}
        <form class="register" action="" method="post">
            {% set data, errors = form_data, form_errors %}
            {{ forms.hidden(data, errors, 'crumb', crumb) }}
            {{ forms.fieldset('Login details', 'login') }}
                <p>{% trans "Supply either of these pieces of information to recover your password:" %}</p>
                {{ forms.input(data, errors, 'text', 'login_name', 'Login name'|trans) }}
                {{ forms.input(data, errors, 'text', 'email', 'Email'|trans) }}
                {{ forms.submit('forgot', '', 'Forgot password'|trans) }}
            {{ forms.endfieldset() }}
        </form>
    {% endif %}
{% endblock %}
