{% extends "layout.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    {% if password_reset_token_set %}
        <p>Check your inbox for a link to change your password.</p>
    {% else %}
        <form class="register" action="" method="post">
            {% set data, errors as form_data, form_errors %}
            {{ forms.fieldset('Login details', 'login') }}
                <p>Supply either of these pieces of information to recover your password:</p>
                {{ forms.input(data, errors, 'text', 'login_name', 'Login name') }}
                {{ forms.input(data, errors, 'text', 'email', 'Email') }}
                {{ forms.submit('forgot', '', 'Forgot password') }}
            {{ forms.endfieldset() }}
        </form>
    {% endif %}
{% endblock %}
