{% extends "layout.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}
    {% trans "Log in" %}
{% endblock %}

{% block content %}

    <form class="login" action="{{base_url}}login" method="post">
        {% set data, errors as form_data, [] %}
        {{ forms.hidden(data, errors, 'crumb', crumb) }}
        {{ forms.hidden(data, errors, 'jump') }}
        {{ forms.fieldset('Log in'|trans, 'login') }}
            {% if form_errors %}
                <li class="error">
                    {% if form_errors.locked_out %}
                        {% trans "This login has been temporarily disabled, due to multiple failed login attempts.  Please try again later." %}
                    {% elseif form_errors.inactive %}
                        {% trans "This login has been disabled." %}
                    {% elseif form_errors.email_unverified %}
                        {% trans "This email address for this login has not yet been verified." %}
                        <form action="{{base_url}}reverifyemail/{{_POST['login_name']|urlencode|e}}" method="POST">
                            <input type="submit" value="{% trans "Re-send Account Activation Information" %}" />
                        </form>
                    {% else %}
                        {% trans "The username or password you entered is not correct." %}
                    {% endif %}
                </li>
            {% endif %}
            {{ forms.input(data, errors, 'text', 'login_name', 'Login name'|trans) }}
            {{ forms.input(data, errors, 'password', 'password', 'Password'|trans) }}
            {{ forms.submit('login', '', 'Log in'|trans) }}
            <li><a href="{{base_url}}forgotpassword">{% trans "Forgot password?" %}</a></li>
        {{ forms.endfieldset() }}
    </form>

{% endblock %}
