{% extends "layout.html" %}

{% import "macros/forms.html" as forms %}

{% block title %}
    {% trans "Login" %}
{% endblock %}

{% block content %}
    {% if login_inactive %}
        <p>{% trans "Sorry, that login has been disabled." %}</p>
    {% endif %}

    {% if no_verified_email %}
        <p>{% trans "Sorry, the email address for that login has not yet been verified." %}</p>
        <form action="{{base_url}}reverifyemail/{{_POST['login_name']|urlencode|e}}" method="POST">
            <input type="submit" value="{% trans "Re-send Account Activation Information" %}" />
        </form>
    {% endif %}

    <form class="login" action="{{base_url}}login" method="post">
        {% set data, errors as form_data, [] %}
        {{ forms.hidden(data, errors, 'crumb', crumb) }}
        {{ forms.hidden(data, errors, 'jump') }}
        {{ forms.fieldset('Login'|trans, 'login') }}
            {% if form_errors %}
                <li class="error">
                    {% trans "The username or password you entered is not correct." %}
                </li>
            {% endif %}
            {{ forms.input(data, errors, 'text', 'login_name', 'Login name'|trans) }}
            {{ forms.input(data, errors, 'password', 'password', 'Password'|trans) }}
            {{ forms.submit('login', '', 'Login'|trans) }}
            <li><a href="{{base_url}}forgotpassword">{% trans "Forgot password?" %}</a></li>
        {{ forms.endfieldset() }}
    </form>

{% endblock %}
