{% extends "layout.html" %}

{% block title %}
    {% trans "Register" %}
{% endblock %}

{% block content %}
    {% import "macros/forms.html" as forms %}

    <form class="register" action="{{base_url}}register" method="post">
        {% set data, errors = form_data, form_errors %}
        {{ forms.hidden(data, errors, 'crumb', crumb) }}
        {{ forms.fieldset('Login details'|trans, 'login') }}
            {{ forms.input(data, errors, 'text', 'login_name', 'Login name'|trans) }}
            {{ forms.input(data, errors, 'text', 'full_name', 'Full name'|trans) }}
            {{ forms.textarea(data, errors, 'bio', 'Bio / About you'|trans) }}
            {{ forms.input(data, errors, 'text', 'email', 'Email'|trans) }}
            {{ forms.input(data, errors, 'text', 'email_confirm', 'Email (confirm)'|trans) }}
            {{ forms.input(data, errors, 'password', 'password', 'Password'|trans) }}
            {{ forms.input(data, errors, 'password', 'password_confirm', 'Password (confirm)'|trans) }}
            {{ forms.captcha(data, errors, 'captcha', 'Captcha'|trans) }}
            {{ forms.submit('register', '', 'Register'|trans) }}
        {{ forms.endfieldset() }}
    </form>
{% endblock %}
