{% extends "layout.html" %}

{% block title %}
    {% set profile_screen_name = profile.screen_name|e %}
    {% blocktrans %}Settings for {{profile_screen_name}}{% endblocktrans %}
{% endblock %}

{% block content %}
    {% import "macros/forms.html" as forms %}

    <h3>
        {% set profile_screen_name_url = profile.screen_name|urlencode %}
        {% set profile_screen_name = profile.screen_name|e %}
        {% blocktrans %}Profile settings for <a href="{{base_url}}profiles/{{profile_screen_name_url}}">{{profile_screen_name}}</a>{% endblocktrans %}
    </h3>
    <ul class="sections">
        {% for section in sections %}
            <li class="section">
                <h3>{{section.title|e}}</h3>
                <dl>
                    {% for item in section.items %}
                        <dt><a href="{{base_url}}{{item.url|e}}">{{item.title|e}}</a></dt>
                        <dd>{{item.description|e}}</dd>
                    {% endfor %}
                </dl>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
