{% macro fieldset(legend, cls) %}
    <fieldset class="{{ cls | e }}">
        <legend>{{ legend | e }}</legend>
        <ul class="fields">
{% endmacro %}

{% macro endfieldset() %}
        </ul>
    </fieldset>
{% endmacro %}

{% macro hidden(data, errors, name, defval) %}
    <input id="{{name}}" name="{{name}}" class="hidden" type="hidden" value="{{data[name] | default(defval) | e}}" />
{% endmacro %}

{% macro input(data, errors, type, name, label, defval, notes) %}
    <li class="field input-{{type}} {{ errors[name] ? 'error' : '' }}">
        <label for="{{name}}">{{label ? label : '&nbsp;' }}</label>
        <input id="{{name}}" name="{{name}}" class="{{type}}" type="{{type}}" value="{{data[name] | default(defval) | e}}" />
        {% if notes %}
            <p class="notes">{{ notes }}</p>
        {% endif %}
        {% if errors[name] %}
            <p class="error">{{ errors[name] }}</p>
        {% endif %}
    </li>
{% endmacro %}

{% macro textarea(data, errors, name, label, defval, notes) %}
    <li class="field textarea {{ errors[name] ? 'error' : '' }}">
        <label for="{{name}}">{{label ? label : '&nbsp;' }}</label>
        <textarea id="{{name}}" name="{{name}}" class="textarea">{{data[name] | default(defval) | e}}</textarea>
        {% if notes %}
            <p class="notes">{{ notes }}</p>
        {% endif %}
        {% if errors[name] %}
            <p class="error">{{ errors[name] }}</p>
        {% endif %}
    </li>
{% endmacro %}

{% macro dropdown(data, errors, name, label, choices, defval, notes) %}
    {% set value as data[name] | default(defval) %}
    <li class="field dropdown {{ errors[name] ? 'error' : '' }}">
        <label for="{{name}}">{{label ? label : '&nbsp;' }}</label>
        <select id="{{name}}" name="{{name}}" class="select">
            {% for v,l in choices %}
                <option value="{{v|e}}"{{(v==value)?' selected':''}}>{{l|e}}</option>
            {% endfor %}
        </select>
        {% if notes %}
            <p class="notes">{{ notes }}</p>
        {% endif %}
        {% if errors[name] %}
            <p class="error">{{ errors[name] }}</p>
        {% endif %}
    </li>

{% endmacro %}

{% macro submit(name, label, val, notes) %}
    <li class="field input-submit {{ errors[name] ? 'error' : '' }}">
        <label for="{{name}}">{{label ? label : '&nbsp;' }}</label>
        <input id="{{name}}" name="{{name}}" class="submit" type="submit" value="{{val}}" />
        {% if notes %}
            <p class="notes">{{notes}}</p>
        {% endif %}
    </li>
{% endmacro %}

{% macro captcha(data, errors, name, label) %}
    <li class="field captcha {{ errors[name] ? 'error' : '' }}">
        <label for="{{name}}">{{label ? label : '&nbsp;' }}</label>
        {{ "return Captcha::factory()->render();" | phpeval }}
        <input id="{{name}}" name="{{name}}" class="captcha" type="text" value="" />
        {% if notes %}
            <p class="notes">{{notes}}</p>
        {% endif %}
        {% if errors[name] %}
            <p class="error">{{ errors[name] }}</p>
        {% endif %}
    </li>
{% endmacro %}
