{% macro readable(os) %}
    {% if '*' == os.name %}
        {% trans "Any" %}
    {% elseif 'win' == os.name %}
        {% trans "Windows" %}
    {% elseif 'windows nt 6.0' == os.name %}
        {% trans "Windows Vista" %}
    {% elseif 'intel mac os x 10.6' == os.name %}
        {% trans "Intel Mac OS X 10.6" %}
    {% elseif 'intel mac os x' == os.name %}
        {% trans "Intel Mac OS X" %}
    {% elseif 'ppc mac os x' == os.name %}
        {% trans "PPC Mac OS X" %}
    {% elseif 'mac os x' == os.name %}
        {% trans "Mac OS X" %}
    {% elseif 'mac' == os.name %}
        {% trans "Mac" %}
    {% elseif 'linux' == os.name %}
        {% trans "Linux" %}
    {% elseif 'sunos' == os.name %}
        {% trans "SunOS" %}
    {% elseif 'sunos sun4u' == os.name %}
        {% trans "SunOS (sun4u)" %}
    {% else %}
        {{os.name | e}}
    {% endif %}
{% endmacro %}
