{% macro readable(platform) %}
    {% if '{ec8030f7-c20a-464f-9b0e-13a3a9e97384}' == platform.app_id %}
        {% trans "Firefox" %}
    {% else %}
        {{platform.app_id | e}}
    {% endif %}
    {% if '*' == platform.locale and '*' == platform.app_release and '*' == platform.app_version %}
    {% else %}
        (
        {% if '*' == platform.app_release and '*' == platform.app_version %}
        {% else %}
            v{{platform.app_release | e}}
            {% if "*" != platform.app_version %}, {{platform.app_version | e}}{% endif %}
        {% endif %}
        {% if '*' != platform.locale %}
            {{platform.locale | e}}
        {% endif %}
        )
    {% endif %}
{% endmacro %}
