{% extends "layout.html" %}

{% import "index/index_shell.html" as this %}

{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block js_includes %}
    {% parent %}
    <script type="text/javascript" src="{{media_url}}js/PluginDir/Index.js"></script>
{% endblock %}

{% block content %}
<div class="index_home">

    <div class="intro">
        <h2>{% trans "Welcome to the Mozilla Plugin Directory" %}</h2>
        <p>{% blocktrans %}
            This site is an attempt to collect and provide information about
            third-party browser plugins installed by people across the web.  
        {% endblocktrans %}</p>
        <p>{% blocktrans %}
            Using our plugin detection service, you can check to see if your
            plugins are up to date (as far as we know) or if you may be
            vulnerable to any problems or security issues.
        {% endblocktrans %}</p>
        <p>{% blocktrans %}
            We can also use your help:  If you are a plugin vendor, or simply
            know something we don't know about a plugin, you can help us by
            submitting suggested updates to this database along with information
            we've detected about your browser and installed plugins.
        {% endblocktrans %}</p>
        <p>{% blocktrans %}
            If you want to get even more involved, you can sign up for a
            profile.  This will give you access to a sandbox in which to 
            edit plugin records, test them against our detection code in 
            browsers, and submit changes to our editors for
            approval and inclusion in the database.
        {% endblocktrans %}</p>
    </div>

    <div class="listing">

        <ul class="nav clearfix">

            {% macro nav_item(base_url, name, path, label, selected) %}
                <li class="{{ (name == selected) ? 'selected' : '' }}">
                    {% if name == selected %}
                        <span>{{label}}</span>
                    {% else %}
                        <a href="{{base_url}}{{path}}">{{label}}</a>
                    {% endif %}
                </li>
            {% endmacro %}

            {% if is_logged_in %}
                {{ this.nav_item(base_url, 'sandbox', 'profiles/' ~ authprofile.screen_name|urlencode|e ~ '/plugins', 'Your Sandbox'|trans, by_cat, authprofile.screen_name) }}
            {% endif %}
            {{ this.nav_item(base_url, 'name', '?by=name', 'By Name'|trans, by_cat) }}
            {{ this.nav_item(base_url, 'application', '?by=application', 'By Application'|trans, by_cat) }}
            {{ this.nav_item(base_url, 'os', '?by=os', 'By Operating System'|trans, by_cat) }}
            {{ this.nav_item(base_url, 'mimetype', '?by=mimetype', 'By MIME Type'|trans, by_cat) }}
        </ul>

        <div class="listing_content">{% block index_content %}{% endblock %}</div>

    </div>

</div>
{% endblock %}
