{% extends "index/index_shell.html" %}

{% block index_content %}
    <p>
        The following is a list of plugins by name, along with a count of
        releases for each plugin.
    </p>
    <ul class="counts name_counts">
        {% for plugin in name_counts %}
            <li>
                <span class="count">({{plugin.count|e}})</span>
                <a href="{{base_url}}plugins/detail/{{plugin.pfs_id | urlencode | e}}">{{plugin.name | e}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
