{% extends "layout.html" %}

{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block js_includes %}
    {% parent %}
    <!--<script type="text/javascript" src="{{media_url}}js/PluginDir/Index.js"></script>-->
{% endblock %}

{% block content %}

{% import "index/index_shell.html" as this %}
{% import "macros/auditlogevents.html" as auditlogevents %}

<div class="index_home">

    <div class="intro">
        <h2>{% trans "Welcome to the Mozilla Plugin Directory" %}</h2>
        <p>{% blocktrans %}
            This site is an attempt to collect and provide information about
            third-party browser plugins installed by people across the web.  
        {% endblocktrans %}</p>
        <p>{% blocktrans %}
            If you want to get involved, you can sign up for a
            profile.  This will give you access to a sandbox in which to 
            edit plugin records, test them against our detection code in 
            multiple browsers, and submit changes to our editors for
            approval and inclusion in the database.
        {% endblocktrans %}</p>
    </div>

    <div class="recent_events">
        <h3>Recent activity</h3>
        <ul class="events">
            {% for event in events %}
                <li>
                    <div class="event">
                        {{auditlogevents.event(event, base_url)}}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a class="view_all" href="{{base_url}}plugins/activitylog">{% trans "View all activity" %}</a>
    </div>

    <div class="listing">

        <ul class="nav clearfix">

            {% macro nav_item(base_url, name, path, label, selected) %}
                <li class="{{ (name == selected) ? 'selected' : '' }}">
                    {% if name == selected %}
                        <span>{{label}}</span>
                    {% else %}
                        <a href="{{base_url}}{{path}}">{{label}}</a>
                    {% endif %}
                </li>
            {% endmacro %}

            {% if is_logged_in %}
                {{ this.nav_item(base_url, 'sandbox', 'profiles/' ~ authprofile.screen_name|urlencode|e ~ '/plugins', 'Your Sandbox'|trans, by_cat, authprofile.screen_name) }}
            {% endif %}
            {{ this.nav_item(base_url, 'name', '?by=name', 'By Name'|trans, by_cat) }}
            {{ this.nav_item(base_url, 'application', '?by=application', 'By Application'|trans, by_cat) }}
            {{ this.nav_item(base_url, 'os', '?by=os', 'By Operating System'|trans, by_cat) }}
            {{ this.nav_item(base_url, 'mimetype', '?by=mimetype', 'By MIME Type'|trans, by_cat) }}
        </ul>

        <div class="listing_content">{% block index_content %}{% endblock %}</div>

    </div>

</div>
{% endblock %}
