{% extends "layout.html" %}

{% import "index/index.html" as this %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <div class="intro">
        <p>Intro copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras vel velit sit amet dolor pharetra ullamcorper ac sit amet lectus.
        Curabitur ut est ipsum, quis viverra odio. Suspendisse at lacinia
        justo. Curabitur felis orci, iaculis in feugiat ut, rhoncus sit amet
        lectus.</p>
    </div>

    <div class="listing">

        <ul class="nav">

            {% macro nav_item(name, label, selected) %}
                <li>
                    {% if name == selected %}
                        <span class="selected">{{label}}</span>
                    {% else %}
                        <a href="?by={{name}}">{{label}}</a>
                    {% endif %}
                </li>
            {% endmacro %}

            {{ this.nav_item('installed', 'Your Installed Plugins', by_cat) }}
            {% if is_logged_in %}
                {{ this.nav_item('sandbox', 'Your Sandbox', by_cat) }}
            {% endif %}
            {{ this.nav_item('name', 'By Name', by_cat) }}
            {{ this.nav_item('application', 'By Application', by_cat) }}
            {{ this.nav_item('os', 'By Operating System', by_cat) }}

        </ul>

        {% if 'sandbox' == by_cat %}
            
            {% if not sandbox_plugins %}
                <p>
                    You have no plugins in your sandbox, yet.  Try viewing the
                    details of a plugin and adding it to your sandbox from
                    there.
                </p>
            {% else %}



            {% endif %}

        {% elseif 'name' == by_cat %}

            <ul class="name_counts">
                {% for plugin in name_counts %}
                    <li>
                        <span class="count">({{plugin.count|e}})</span>
                        <a href="{{base_url}}plugins/detail/{{plugin.pfs_id | urlencode | e}}">{{plugin.name | e}}</a>
                    </li>
                {% endfor %}
            </ul>

        {% elseif 'application' == by_cat %}
            {% import "macros/platforms.html" as platforms %}

            <ul class="platform_counts">
                {% for platform in platform_counts %}
                    <li>
                        <span class="count">({{platform.count|e}})</span>
                        <a href="{{base_url}}search/results?platform_id={{platform.id|urlencode|e}}">{{platforms.readable(platform)}}</a>
                    </li>
                {% endfor %}
            </ul>
            
        {% elseif 'os' == by_cat %}
            {% import "macros/oses.html" as oses %}
        
            <ul class="os_counts">
                {% for os in os_counts %}
                    <li>
                        <span class="count">({{os.count|e}})</span>
                        <a href="{{base_url}}search/results?os_id={{os.id|urlencode|e}}">{{oses.readable(os)}}</a>
                    </li>
                {% endfor %}
            </ul>

        {% else %}

            <p>
                The following is a list of plugins detected as installed
                in your browser, along with the status of each with respect
                to our plugin database.  Some of these plugins may not be
                present in our database, and some may have incorrect details.
                You can help us improve this directory by using the feedback
                links next to each plugin.
            </p>

            <p class="installed_plugins_warning">
                If you can see this message, we were unable to perform
                plugin detection on your browser.  You may have JavaScript
                disabled, which this site requires for many of its features.
            </p>

            <table class="installed_plugins">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Detected Version</th>
                        <!-- <th>Description</th> -->
                        <th>Installed Status</th>
                        <th>Have feedback?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="template">
                        <td class="name"></td>
                        <td class="version"></td>
                        <!-- <td class="description"></td> -->
                        <td class="status"></td>
                        <td class="feedback"></td>
                    </tr>
                </tbody>
            </table>

            <div id="status_templates" class="templates">
                <span class="newer">Newer</span>
                <span class="latest">Up to date</span>
                <span class="vulnerable">Vulnerable</span>
                <span class="outdated">Needs update</span>
                <span class="unknown">Unknown</span>
            </div>

            <div id="feedback_templates" class="templates">
                <a href="#" class="newer">Suggest update</a>
                <a href="#" class="latest">Suggest correction</a>
                <a href="#" class="vulnerable">Suggest correction</a>
                <a href="#" class="outdated">Suggest correction</a>
                <a href="#" class="unknown">Contribute new info</a>
            </div>

        {% endif %}

    </div>

{% endblock %}
