{% extends "index/index_shell.html" %}

{% block index_content %}

    <p>{% blocktrans %}
        The following is a list of plugins detected as installed
        in your browser, along with the status of each with respect
        to our plugin database.  Some of these plugins may not be
        present in our database, and some may have incorrect details.
        You can help us improve this directory by using the feedback
        links next to each plugin.
    {% endblocktrans %}</p>

    <p class="installed_plugins_warning">{% blocktrans %}
        If you can see this message, we were unable to perform
        plugin detection on your browser.  You may have JavaScript
        disabled, which this site requires for many of its features.
    {% endblocktrans %}</p>

    <table class="installed_plugins">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Detected Version" %}</th>
                <!-- <th>{% trans "Description" %}</th> -->
                <th>{% trans "Installed Status" %}</th>
                <th>{% trans "Feedback Actions" %}</th>
                {% if is_logged_in %}
                <th>{% trans "Sandbox Actions" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr class="template">
                <td class="name"></td>
                <td class="version"></td>
                <!-- <td class="description"></td> -->
                <td class="status"></td>
                <td class="feedback"></td>
                {% if is_logged_in %}
                    <td class="new_release"></td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <div id="status_templates" class="templates">
        <span class="newer">{% trans "Newer than directory" %}</span>
        <span class="latest">{% trans "Up to date" %}</span>
        <span class="vulnerable">{% trans "Vulnerable" %} ({% blocktrans %}<span class="version">###</span> available{% endblocktrans %})</span>
        <span class="maybe_vulnerable">{% trans "Maybe vulnerable" %} ({% blocktrans %}<span class="version">###</span> is the latest version{% endblocktrans %})</span>
        <span class="should_disable">{% trans "Vulnerable (Should be disabled)" %}</span>
        <span class="outdated">{% trans "Needs update" %} ({% blocktrans %}<span class="version">###</span> available{% endblocktrans %})</span>
        <span class="maybe_outdated">{% trans "Maybe outdated" %} ({% blocktrans %}<span class="version">###</span> is the latest version{% endblocktrans %})</span>
        <span class="unknown">{% trans "Unknown to directory" %}</span>
    </div>

    <div id="feedback_templates" class="templates">
        <a href="#" class="newer" title="{% trans "You appear to have a newer version of this plugin installed than what the directory knows about. You can share the details with us to help keep the directory up to date!" %}">{% trans "Suggest directory update" %}</a>
        <a href="#" class="latest" title="{% trans "You appear to have the latest version of this plugin as far as the directory is concerned. If this is incorrect, you can suggest a correction." %}">{% trans "Suggest directory correction" %}</a>
        <a href="#" class="vulnerable" title="{% trans "You appear to have a vulnerable version of this plugin that needs an update! If this is incorrect, you can suggest a correction." %}">{% trans "Suggest directory correction" %}</a>
        <a href="#" class="maybe_vulnerable" title="{% trans "The version detected for this plugin is imprecise, and is shared by another plugin that is vulnerable. Manual verification is suggested. If this is incorrect, you can suggest a correction." %}">{% trans "Suggest directory correction" %}</a>
        <a href="#" class="should_disable" title="{% trans "You appear to have a vulnerable version of this plugin, but no update is available. You should disable this plugin. If this is incorrect, you can suggest a correction." %}">{% trans "Suggest directory correction" %}</a>
        <a href="#" class="outdated" title="{% trans "You appear to have an outdated version of this plugin that needs an update. If this is incorrect, you can suggest a correction." %}">{% trans "Suggest directory correction" %}</a>
        <a href="#" class="maybe_outdated" title="{% trans "The version detected for this plugin is imprecise, and is shared by another plugin that is outdated. Manual verification is suggested. If this is incorrect, you can suggest a correction." %}">{% trans "Suggest directory correction" %}</a>
        <a href="#" class="unknown" title="{% trans "The directory can't find any details on this plugin. You can share the details with us to help keep the directory up to date!" %}">{% trans "Contribute new info" %}</a>
    </div>

    <div class="add_release template">
        <select name="sandbox_plugins">
            <option value="">-</option>
        </select>
        <button class="add_release_action">+</button>
    </div>

{% endblock %}
